.clock {
  width: 1200px;
  position: relative;
  margin: auto;
}

.digit {
  display: inline-block;
  position: relative;
  width: 130px;
  margin-right: 70px;
}


.segment {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px 1px black;
  transform: rotate(0deg);
  transform-origin: 15px 15px;
  transition-duration: 0.3s;
  stroke: black;
}


.cover {
  z-index: 1;
  background-color: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  opacity: 0.96;
}

.cover.bottom {
  position: absolute;
  display: inline-block;
  top: 245px;
  height: 70px;
  width: 100%;
}

.cover.top {
  top: -15px;
  height: 30px;
}

.cover.left {
  top: 0;
  left: -55px;
  width: 70px;
  height: 300px;
}

.cover.right {
  top: 0;
  left: 1145px;
  width: 70;
  height: 300px;
}

.cover.middle {
  top: 0;
  width: 70px;
  height: 300px;
}

.cover.middle.m1 {
  left: 145px;
}


.cover.middle.m2 {
  left: 345px;
}

.cover.middle.m3 {
  left: 545px;
}

.cover.middle.m4 {
  left: 745px
}

.cover.middle.m5 {
  left: 945px;
}
