body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.clock {
  position: relative;
  display: flex;
  justify-content: center;
}

.digit {
  display: inline-block;
  position: relative;
  width: 130px;
  height: 245px;
  margin-right: 70px;
}

.segment {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: rgb(41, 41, 41);
  border-radius: 15px;
  box-shadow: inset 0px 0px 1px 1px black;
  transform: rotate(0deg);
  transform-origin: 15px 15px;
  transition-duration: 0.3s;
  stroke: black;
}

.cover {
  z-index: 1;
  background-color: white;
  position: absolute;
}

.cover.bottom {
  top: 245px;
  left: -55px;
  height: 115px;
  width: 270px;
}

.cover.top {
  top: -100px;
  left: -55px;
  height: 115px;
  width: 270px;
}

.cover.left {
  top: 15px;
  left: -55px;
  width: 70px;
  height: 230px;
}

.cover.right {
  top: 15px;
  left: 145px;
  width: 70;
  height: 230px;
}

.dot {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(41, 41, 41);
  box-shadow: inset 0px 0px 1px 1px black;
  position: absolute;
  top: 0;
  left: 0;
}
